
@model homeViewModel
<style>
    body {
        background-image: url('/images/shawarma background.jpg');
    }

    p {
        color: slategrey;
        font-family: Cookie;
        font-size: 200px;
    }
    h2,h4 {
        color:darkred;
        font-family: Cookie;
        font-size: 70px;
    }

</style>
<body>
    <div class="text-center">
        <p style="font-size:200px; ">Shawarma <i style="color:red" ;font-size:200px>X</i></p>
        <p></p>
    </div>
    <h2>Offer Shawarma </h2>
    <h4>Our weekly selection - just for you!</h4>

    <div class="row">

        @foreach (var shawarma in Model.Offers)
        {
            <partial name="_ShawarmaCard" model="shawarma" />
        }

    </div>
</body>
