
<style>
    body {
        background-image: url('/images/backgrund 1.jpg');
    }
</style>
<div style="background-color:whitesmoke"><h2 style="color:red">@ViewBag.CheckoutCompleteMessage </h2></div>
<div> <img src="/images/delivery.gif" alt="HTML5 Icon" style="width:128px;height:128px;"> </div>