<style>
    h2 {
        font-family: Cookie;
        color: red;
        text-shadow: 2px 2px 5px black;
        font-size: 50px;
    }
    body {
        background-image: url('/images/backgrund 1.jpg');
    }
    </style>

<h1 class="col-lg-offset-4" style="        color: slategrey;
        font-family: Cookie;
        font-size: 90px
">
    Contact US
</h1>
<h2>Location: <a>Click me</a> </h2>
<h2>Facebook: <a>Click me</a> </h2>
<h2>Instgram: <a>Click me</a> </h2>
<h2>Facebook: <a>Click me</a> </h2>
<h2>Telphone Number:  </h2>
<h1  class="col-lg-offset-4" style="color: slategrey;
        font-family: Cookie;
        font-size: 60px">Send Email:</h1>


<h3>
    Please contact us by sending an email using the button below

</h3>

<email address="firestorm.ag@gmail.com" content="Contact us" ></email>